# Executables and binary files
*.exe
*.out
*.app
mst.o
dijkstra.o

# Object files and libraries
*.o
*.obj
*.a
*.lib

# Data collection outputs (CSV)
mst_tiempos.csv
dijkstra_tiempos.csv

# Graphical results (PNG)
grafica_complejidad_mst.png
grafica_complejidad_dijkstra.png

# IDE and Editor specific files
.vscode/
.idea/
.DS_Store
build/
